/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar-default {
   background-color: #f8f8f8;
   border: 1px solid #e7e7e7;
 }

 .navbar {
     border-radius: 4px;
}

.article-header {
  color:#6c757d;
  text-decoration: none;
}
.article-header:hover {
  color: #586066;
  text-decoration: none;
}

.navbar-nav > li > a {
  color: #777;
  text-decoration: none;
}

.navbar-brand
{
  color: #5e5e5e;
}

.navbar-brand:hover
{
  color: #5e5e5e;
}

article {
  font-weight: 300;
  font-size: 120%;
}

.edit {
  text-decoration: none;
}

.delete {
  text-decoration: none;
}

h2, h1 {
  color:#4a5055;
}

p {
  color:#6c757d;
}
